.welcome{
    font-size: 2.2rem;
    text-align: center;
    color: var(--color-gray);
}
.datetime{
    margin: 2rem 0.5rem 0 0.5rem;
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
}
.pallet{
    display: grid;
    min-height: 35rem;
    margin-top: .5rem;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 0.9fr 0.9fr 1.1fr 1fr;
    gap: 1rem;
    justify-content: start;
}
.newsdescription{
    font-size: 1.8rem;
    line-height: 2rem;
    color: rgb(219, 209, 209);
font-weight: 300;

}

.imgb{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
overflow: hidden;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .imgb.active {
    opacity: 1;
  }
.bighead{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
background-size: cover;
display: flex;
justify-content: flex-start;
overflow: hidden;



}

.palletcontent{
    position: relative;
    display: flex;
    padding: 0 .5rem .5rem .5rem;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    color: var(--color-white);
   flex-direction: row;
   align-items: flex-end;
    /* top: 50%; */
}
.newstitle{
    font-size: 2.2rem;
    display: block;
font-weight: 400;

}
.smallhead{
 position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
background-size: cover;
display: flex;
justify-content: flex-start;
overflow: hidden;

    
}
@media (max-width:998px){
    .newstitle{
        font-size: 2rem;
    }
    .newsdescription{
        font-size: 1.6rem;
    }
}
@media (max-width: 768px)  {
    .palletcontent{
        height: 20rem;
       
    }
    .newstitle{
        font-weight: 500;
        position: relative;
        width: 100%;
    }
    .smallhead .palletcontent{
        display: flex;
        align-items: flex-start;
        width: 75%;
        position: absolute;
        left: 0;
        background-color: transparent;
        color: var(--color-black);
        padding: 0.5rem 0.3rem;
overflow: hidden;
        height: 100%;
    }
    .smallhead{
        display: flex;
        align-items: center;    
        position: relative;   
border-radius: 0.5rem;
min-height: 10rem;
background-color: var(--color-white);





    }
   
    .smallhead .imgb{
        width: 22%;
        height: 80%;
        right: 0;
        border-radius: 0.5rem;
        margin-right: 1rem;
    }

    .pallet{
        
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }
    .newsdescription{
        display: none;
    }
    .bighead{
min-height: 20rem;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    }
    .smallhead .newstitle{
        position: absolute;
        padding-right: 0.2rem;
        text-decoration: underline;
    }
}